/*******Imports*******/
@keyframes show-animate-1 {
  0% {
    opacity: 0;
    top: -80px; }
  100% {
    opacity: 1;
    top: 0; } }
@keyframes hide-animate-1 {
  0% {
    opacity: 1;
    top: 0; }
  100% {
    opacity: 0;
    top: -80px; } }
@font-face {
  font-family: themify;
  src: url(fonts/themify.ttf); }
/*******General*******/
/*******Header*******/
header {
  margin: 0 auto;
  height: 400px;
  background-color: #ffffff;
  text-align: center;
  overflow: hidden; }

.title {
  margin: 120px auto 0 auto;
  color: #a7a7a7;
  font-size: 4em; }

/*******Player 1*******/
.player-1-section {
  margin: 0 auto;
  height: 400px;
  background-color: #2ecc71;
  overflow: hidden; }

/*******Player*******/
.player-1 {
  margin: 55px auto;
  padding: 0;
  height: 80px;
  width: 600px; }

.play-div-1 {
  margin: 0 -4px 0 0; }
  .play-div-1:hover {
    cursor: pointer; }

.play-div-1, .volume-div-1 {
  display: inline-block;
  width: 80px;
  height: 100%;
  text-align: center;
  background-color: #25a25a; }

.progress-div-1 {
  display: inline-block;
  position: relative;
  height: 80px;
  width: calc(100% - 160px);
  vertical-align: middle;
  background-color: #a8ebc4;
  z-index: 1; }

.progress-1 {
  height: 100%;
  width: 3%;
  background-color: #54d98c;
  overflow: hidden; }

.volume-div-1 {
  margin: 0 0 0 -5px; }
  .volume-div-1:hover {
    cursor: pointer; }

.play-1 {
  margin: 0 auto;
  line-height: 80px;
  vertical-align: middle;
  font-family: themify;
  font-size: 3em;
  font-weight: lighter;
  color: #ffffff; }

.ti-control-play {
  display: inline-block; }

.ti-control-pause {
  display: none; }

.volume-1 {
  margin: 0 auto;
  line-height: 80px;
  vertical-align: middle;
  font-family: themify;
  font-size: 3em;
  color: #ffffff;
  pointer-events: none; }

.track-1 {
  position: absolute;
  margin: 10px;
  font-size: 1.2em;
  color: #0d0d0d;
  z-index: 100; }

.time-1 {
  position: absolute;
  top: 40px;
  margin: 10px;
  font-size: 1em;
  color: #0d0d0d;
  z-index: 100; }

/*******Volume Slider*******/
.volume-slider-div-1 {
  opacity: 0;
  position: relative;
  left: 80px;
  top: -80px;
  width: 440px;
  height: 80px;
  background-color: #e6f9ee; }

.volume-slider-1 {
  height: 100%;
  width: 75%;
  background-color: #d1f5e0; }

.plus-1, .minus-1 {
  display: inline-block;
  font-size: 2.5em;
  color: #25a25a; }
  .plus-1:hover, .minus-1:hover {
    cursor: pointer;
    color: #176437; }

.minus-1 {
  position: relative;
  top: -58px;
  left: 20px; }

.plus-1 {
  position: relative;
  top: -58px;
  left: 330px; }

/*******Animation*******/
@keyframes show-animate-1 {
  0% {
    opacity: 0;
    top: -80px; }
  100% {
    opacity: 1;
    top: 0; } }
@keyframes hide-animate-1 {
  0% {
    opacity: 1;
    top: 0; }
  100% {
    opacity: 0;
    top: -80px; } }
.volume-hidden-1 {
  animation-name: hide-animate-1;
  animation-duration: 0.25s;
  animation-fill-mode: forwards; }

.volume-shown-1 {
  animation-name: show-animate-1;
  animation-duration: 0.25s;
  animation-fill-mode: forwards; }

/*******Media Queries*******/

/*# sourceMappingURL=main.css.map */
