html, body {
    margin: 0;
}

/*******Imports*******/

@import 'helpers/_variables.scss';
@import 'helpers/_functions.scss';
@import 'helpers/_mixins.scss';
@import 'helpers/_placeholders.scss';
@import 'components/_animation.scss';
@import 'components/_loading-placeholders.scss';
@import 'media/_reset.scss';
@font-face {
    font-family: themify;
    src: url(fonts/themify.ttf);
}
/*******General*******/
body {
    font-family: $mainFont;
    margin: 0;
}

/*******Header*******/
@import 'layout/_header.scss';

/*******Player 1*******/
.player-1-section {
    @extend %player-section;
    background-color: $color1;
}

@import 'layout/_player1.scss';

/*******Player 2*******/
.player-2-section {
    @extend %player-section;
    background-color: $color2;
}

@import 'layout/_player2.scss';

/*******Player 3*******/

.player-3-section {
    @extend %player-section;
    background-color: $color3;
}

@import 'layout/_player3.scss';

/*******Media Queries*******/
@import 'media/_media-queries.scss';
