/*******Imports*******/

@import 'helpers/_variables.scss';
@import 'helpers/_functions.scss';
@import 'helpers/_mixins.scss';
@import 'helpers/_placeholders.scss';
@import 'components/_animation.scss';
@import 'components/_loading-placeholders.scss';
@font-face {
    font-family: themify;
    src: url(fonts/themify.ttf);
}
/*******General*******/

body, html {
    font-family: $mainFont;
}

/*******Header*******/
@import 'layout/_header.scss';

/*******Player 1*******/
@import 'layout/_player1.scss';

/*******Media Queries*******/
@import 'media/_media-queries.scss';
