@media only screen and (max-width: 650px) {
    .player-1 {
        width: 95%;
    }
    .track-1 {
        font-size: 1em;
    }
    .plus-1 {
        left: calc(86% + -20px);
        
    }
}

@media only screen and (max-width: 450px) {
    .player-1 {
        width: 100%;
    }
    .play-div-1, .volume-div-1 {
        width: 60.3px;
    }
    .track-1 {
        font-size: 0.9em;
    }
    .progress-div-1 {
        width: calc(100% - 121.93px);
    }
    .volume-slider-div-1 {
        position: relative;
        left: 61px;
        width: calc(100% - 123px);
    }
    .plus-1, .minus-1 {
        font-size: 2em;
        top: 27px;
    }
    .plus-1 {
        left: calc(86% + -12px);
    }
    .minus-1 {
        left: 12px;
    }
}