.progress-div-1 {
    display: inline-block;
    position: relative;
    height: 80px;
    width: calc(100% - 161px);
    vertical-align: middle;
    background-color: lighten($color1, 30%);
    z-index: 1;
}

.progress-div-1 .ui-slider-range {
    @extend %slider-range;
    background-color: lighten($color1, 8%);
}

.volume-slider-div-1 .ui-slider-range {
    @extend %slider-range;
    background-color: lighten($color1, 39%);
}

/*******Jquiry UI Slider Overrides*******/

.progress-div-1.ui-widget-content {
    border: 0;
}

.progress-1 .ui-slider-handle {
    opacity: 0;
    top: 0;
    height: 100%;
    &:hover {
        cursor: pointer;
    }
}
