@media only screen and (max-width: 650px) {
    .player-2 {
        width: 95%;
    }
    .volume-slider-div-2 {
        width: calc(100% - 158px);
    }
}

@media only screen and (max-width: 450px) {
    .player-2 {
        width: 100%;
    }
}