.player-2-section {
    @extend %player-section;
    background-color: $color2;
}


/*******Player*******/

.player-2 {
    display: none;
    margin: 175px auto;
    padding: 0;
    height: 80px;
    width: 600px;
    @extend %notselectable;
} 

.player-2-container {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    z-index: 2;
}

.play-div-2 {
    position: relative;
    margin: 0 -4px 0 0;
    &:hover {
        cursor: pointer;
    }
}

.play-div-2, .volume-div-2 {
    width: 80.3px;
    display: inline-block;
    height: 100%;
    text-align: center;
    background-color: transparent;  
}

.volume-div-2 {
    display: none;
    margin: 0 0 0 -5px;
}

.play-2 {
    position: absolute;
    top: -0.75em;
    left: 1.5em;
    margin: 0 auto;
    line-height: 0;
    vertical-align: middle;
    font-size: 3em;
    font-weight: lighter;
    color: $white;
}

.control-play-2 {
    display: inline-block;
}

.control-pause-2 {
    display: none;
}

.play-svg-2 {
    position: relative;
    transform: rotate(90deg);
} 

.play-svg-2 svg {
    position: absolute;
}

.track-2 {
    display: none;
    position: absolute;
    margin: 10px;
    font-size: 1.3em;
    color: rgba(0, 0, 0, 0.6); 
    z-index: 100;
}

.time-2 {
    position: absolute;
    top: 40px;
    margin: 10px;
    font-size: 1em;
    color: lighten($black, 5%);
    z-index: 100; 
}

/*******Progress Slider*******/

@import '_player2-slider.scss';

/*******Volume Slider*******/

.volume-slider-div-2 {
    opacity: 1;
    position: relative;
    left: 5.5em;
    top: -0.5em;
    width: 440px;
    height: 80px;
    background-color: transparent;
}

.volume-slider-2 {
    height: 100%;
    width: 0; 
}

.volume-slider-2 .ui-slider-handle {
    border: 0;
    background: darken($color2, 15%);
    top: 0;
    width: 0.25em;
    height: 0;
    &:hover {
        cursor: pointer;
    }
}

.volume-slider-div-2 .ui-slider-range {
    background-color: transparent;
}


.plus-2, .minus-2 {
    display: none;
    position: relative;
    font-size: 2.5em;
    color: rgba(255,255,255,0.3);
    z-index: 20;
    transition: 0.25s;
    &:hover {
        cursor: pointer;
        color: darken($color2, 30%);
    }
}

.minus-2 {
    position: relative;
    top: -1.75em;
    left: 0.21em;  
}

.plus-2 {
    position: relative;
    top: -1.75em;
    left: 8em;
}

.handle-3-2 {
    position: absolute; 
    top: -1em;
    left: -0.3em;
    color: darken($color2, 15%);
    transform: rotate(180deg);
    z-index: 1;
}

.js-show-volume-2 {
    opacity: 1;
}

/*******Animation*******/ 

@keyframes pause-animate-b-2 {
    0% {
        transform: rotate(0deg) translate(0, 0);
    }
    
    100% {
        transform: rotate(124deg) translate(-12px, 0);
    }
}

@keyframes play-animate-b-2 {
    0% {
        transform: rotate(124deg) translate(-12px, 0);
    }
    
    100% {
        transform: rotate(0deg) translate(0, 0);
    }
}

@keyframes pause-animate-a-2 {
    0% {
        transform: rotate(0deg) translate(0, 0);
    }
    
    100% {
        transform: rotate(57deg) translate(-1px,-8px);
    }
}

@keyframes play-animate-a-2 {
    0% {
        transform: rotate(57deg) translate(-1px,-8px);
    }
    
    100% {
        transform: rotate(0deg) translate(0, 0);
    }
}


.to-pause-b-2 {
    @include animate(pause-animate-b-2, 0.8s);
}

.to-play-b-2 {
    @include animate(play-animate-b-2, 0.8s);
}

.to-pause-a-2 {
    @include animate(pause-animate-a-2, 0.8s);
}

.to-play-a-2 {
    @include animate(play-animate-a-2, 0.8s);
}

