header {
    margin: 0 auto;
    height: 110px;
    background-color: $white;
    text-align: center;
    overflow: hidden;
}

.title {
    margin: 30px auto 0 auto;
    color: $grey;
    font-size: 2em;
} 