header {
    margin: 0 auto;
    height: 10em;
    background-color: $white;
    text-align: center;
    overflow: hidden;
}

.title {
    margin: 30px auto 0 auto;
    color: $grey;
    font-size: 2em;
} 

.sub-title {
    color: $grey;
    padding: 0 1em;
}