header {
    margin: 0 auto;
    height: 250px;
    background-color: $white;
    text-align: center;
    overflow: hidden;
}

.title {
    margin: 80px auto 0 auto;
    color: $grey;
    font-size: 4em;
} 