.progress-div-2 {
    display: inline-block;
    position: relative;
    height: 80px;
    width: calc(100% - 161px);
    vertical-align: middle;
    background-color: lighten($color1, 30%);
    z-index: 1;
}

.progress-div-2 .ui-slider-range {
    @include slider-range(8%);
}

.volume-slider-div-2 .ui-slider-range {
    @include slider-range(39%);
}

/*******Jquiry UI Slider Overrides*******/

.ui-widget-content {
    border: 0;
}

.ui-slider-handle {
    opacity: 0;
}

.ui-slider .ui-slider-handle {
    height: 100%;
    &:hover {
        cursor: pointer;
    }
}

.ui-slider-horizontal .ui-slider-handle {
    top: 0;
}