/*******jQuery UI override*******/



/*******Slider*******/

.progress-div-2 {
    display: inline-block;
    position: relative;
    height: 0.22em;
    width: calc(100% - 161px);
    vertical-align: middle;
    background-color: #fff;
    border-right: 3em solid #fff;
    z-index: 1;
}

.progress-div-2 .ui-slider-range {
    @extend %slider-range;
    background-color: darken($color2, 12%);
}

.volume-slider-div-2 .ui-slider-range {
    @extend %slider-range;
}

.progress-2 .ui-slider-handle {
    opacity: 1;
    height: 0;
    top: -3em;
    width: 0.25em;
    margin-left: 0.01px;
    border: 0;
    &:hover {
        cursor: pointer;
    }
} 

.progress-2 .ui-state-active {
    background: #fff;
    border: 0;
}

.handle-1-2 {
    color: #fff; 
    position: absolute;
    left: -0.69em;
    top: 0.22em;
    z-index: 12;
}

.handle-2-2 {
    position: absolute; 
    left: -0.7em; 
    top: 0.3em;
    z-index: 11;
}

