.player-2-section {
    @extend %player-section;
    background-color: $color2;
}


/*******Player*******/

.player-2 {
    display: none;
    margin: 175px auto;
    padding: 0;
    height: 80px;
    width: 600px;
    @extend %notselectable;
} 

.player-2-container {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    z-index: 2;
}

.play-div-2 {
    margin: 0 -4px 0 0;
    &:hover {
        cursor: pointer;
    }
}

.play-div-2, .volume-div-2 {
    width: 80.3px;
    display: inline-block;
    height: 100%;
    text-align: center;
    background-color: transparent;  
}

.volume-div-2 {
    display: none;
    margin: 0 0 0 -5px;
}

.play-2 {
    margin: 0 auto;
    line-height: 80px;
    vertical-align: middle;
    font-family: themify;
    font-size: 3em;
    font-weight: lighter;
    color: $white;
}

.control-play-2 {
    display: inline-block;
}

.control-pause-2 {
    display: none;
}

.volume-2 {
    margin: 0 auto;
    line-height: 80px;
    vertical-align: middle;
    font-family: themify;
    font-size: 3em;
    color: $white;
    pointer-events: none;
}

.track-2 {
    display: none;
    position: absolute;
    margin: 10px;
    font-size: 1.3em;
    color: rgba(0, 0, 0, 0.6); 
    z-index: 100;
}

.time-2 {
    position: absolute;
    top: 40px;
    margin: 10px;
    font-size: 1em;
    color: lighten($black, 5%);
    z-index: 100; 
}

/*******Progress Slider*******/

@import '_player2-slider.scss';

/*******Volume Slider*******/

.volume-slider-div-2 {
    opacity: 1;
    position: relative;
    left: 5.5em;
    top: -2.4em;
    width: 440px;
    height: 80px;
    background-color: transparent;
}

.volume-slider-2 {
    height: 100%;
    width: 0; 
}

.volume-slider-2 .ui-slider-handle {
    border: 0;
    background: darken($color2, 15%);
    top: 0;
    width: 0.25em;
    height: 3em;
    &:hover {
        cursor: pointer;
    }
}

.volume-slider-div-2 .ui-slider-range {
    background-color: transparent;
}


.plus-2, .minus-2 {
    opacity: 0;
    position: relative;
    display: inline-block;
    font-size: 2.5em;
    color: rgba(255,255,255,0.3);
    z-index: 20;
    transition: 0.25s;
    &:hover {
        cursor: pointer;
        color: darken($color2, 30%);
    }
}

.minus-2 {
    position: relative;
    top: -1.75em;
    left: 0.21em;  
}

.plus-2 {
    position: relative;
    top: -1.75em;
    left: 8em;
}

.js-show-volume-2 {
    opacity: 1;
}

/*******Animation*******/ 
