.progress-div-1 {
    display: inline-block;
    position: relative;
    height: 80px;
    width: calc(100% - 160px);
    vertical-align: middle;
    background-color: lighten($color1, 30%);
    z-index: 1;
}

.progress-div-1 .ui-slider-range {
    height: 100%;
    width: 0%;
    background-color: lighten($color1, 10%);
    overflow: hidden;
}

/*******Jquiry UI Slider Overrides*******/

.ui-widget-content {
    border: 0;
}

.ui-slider-handle {
    opacity: 0;
}

.ui-slider .ui-slider-handle {
    height: 100%;
    &:hover {
        cursor: pointer;
    }
}

.ui-slider-horizontal .ui-slider-handle {
    top: 0;
}