.player-1-section {
    margin: 0 auto;
    height: 400px;
    background-color: $color1;
    overflow: hidden;
}

/*******Player*******/
.player-1 {
    margin: 55px auto;
    padding: 0;
    height: 80px;
    width: 600px;
}

.play-div-1 {
    margin: 0 -4px 0 0;
}

.play-div-1, .volume-div-1 {
    display: inline-block;
    width: 80px;
    height: 100%;
    text-align: center;
    background-color: darken($color1, 10%);
}

.progress-div-1 {
    display: inline-block;
    position: relative;
    height: 80px;
    width: calc(100% - 160px);
    vertical-align: middle;
    background-color: lighten($color1, 30%);
    z-index: 1;
}

.progress-1 {
    height: 100%;
    width: 3%;
    background-color: lighten($color1, 10%);
    overflow: hidden;
}

.volume-div-1 {
    margin: 0 0 0 -5px;
}

.play-1 {
    margin: 0 auto;
    line-height: 80px;
    vertical-align: middle;
    font-family: themify;
    font-size: 3em;
    font-weight: lighter;
    color: $white;
}

.volume-1 {
    margin: 0 auto;
    line-height: 80px;
    vertical-align: middle;
    font-family: themify;
    font-size: 3em;
    color: $white;
}

.track-1 {
    position: absolute;
    margin: 10px;
    font-size: 1.2em;
    color: lighten($black, 5%);
    z-index: 100;
}

.time-1 {
    position: absolute;
    top: 40px;
    margin: 10px;
    font-size: 1em;
    color: lighten($black, 5%);
    z-index: 100;
}

/*******Volume Slider*******/

.volume-slider-div-1 {
    display: block;
    margin: 0 auto;
    width: 440px;
    height: 80px;
    background-color: darken($color1, 20%);
}

.volume-slider-1 {
    position: absolute;
    height: 100%;
    width: 75%;
    background-color: darken($color1, 30%);
}