.progress-div-3 {
    display: inline-block;
    position: relative;
    height: 80px;
    width: calc(100% - 161px);
    vertical-align: middle;
    background-color: lighten($color3, 30%);
    z-index: 1;
}

.progress-div-3 .ui-slider-range {
    @extend %slider-range;
    background-color: lighten($color3, 8%);
}

.volume-slider-div-3 .ui-slider-range {
    @extend %slider-range;
    background-color: lighten($color3, 39%);
}

/*******Jquiry UI Slider Overrides*******/

progress-div-3.ui-widget-content {
    border: 0;
}

.progress-3 .ui-slider-handle {
    opacity: 0;
    height: 100%;
    top: 0;
    &:hover {
        cursor: pointer;
    }
}
